.firstSession {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80vh;
    text-align: center;
}

.firstSession h1 {
    font-size: 4em;
}

.firstSession h1 strong {
    color: #f30000;
}

.firstSession h1 button {
    font-size: 20px;
    background: none;
    color: black;
    border: 3px solid #000000;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    transition: color 0.5s, background 0.5s;
}

.firstSession h1 button:hover {
    background-color: #000000;
    color: #fff;
}

.firstSession article {
    display: flex;
    justify-content: space-between;
}

.firstSession article p {
    width: 30%;

    font-size: 30px;
}